/* GENERAL */
* {
  margin: 0;
}

.to-be-invible {
  color: transparent;
  text-align: center;
}

section > div {
  padding: 18% 0;
}
/* \GENERAL */


/* HEADER */
header {
  display: flex;
  background-color: #add8e6;
  padding: 0.5em 1em;
  justify-content: center;
  align-items: center;
}

header > div {
  background-color: #daa520;
  padding: 0.2em;
  border: 2px dashed black ;
}

.logo {
  flex-grow: 1;
}

.links {
  text-align: center;
  flex-grow: 2;
}

.login {
  text-align: right;
  flex-grow: 1;
}
/* \HEADER */


/* BODY */
body > section {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* \BODY */


/* FIRST - SECTION */
.first {
  background-color: blue;
  padding: 1.5em 10%;
}

.first > div {
  text-align: center;
  background-color: violet;
  padding: 18% 45%;
}
/* \FIRST - SECTION */


/* SECOND - SECTION */
.second {
  padding: 1.5em 1em;
}

.second div:first-child {
  background-color: cornflowerblue;
  flex-grow: 2;
}

.second div:last-child {
  background-color: pink;
  flex-grow: 1;
}
/* \SECOND - SECTION */


/* THIRD - SECTION */
.third {
  padding: 1.5em 1em;
  background-color: grey;
}

.third div:first-child {
  background-color: pink;
  flex-grow: 1;
}

.third div:last-child {
  background-color: cornflowerblue;
  flex-grow: 2;
}
/* \THIRD - SECTION */
