/* GENERAL */
* {
  margin: 0;
}

.to-be-invible {
  color: transparent;
  text-align: center;
}

section > div {
  padding: 18% 0;
  border: 2px dashed black ;
}
/* \GENERAL */


/* HEADER */
header {
  display: flex;
  background-color: #add8e6;
  padding: 0.8% 19%;
  justify-content: center;
  align-items: center;
}

header > div {
  background-color: #daa520;
  padding: 0.2em;
  border: 2px dashed black ;
}

.logo {
  flex-grow: 1;
}

.links {
  text-align: center;
  flex-grow: 2;
}

.login {
  text-align: right;
  flex-grow: 1;
}
/* \HEADER */


/* MAIN */
main > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section:not(:first-child) {
  padding: 1.5% 18.6%;
}
/* \MAIN */


/* FIRST - SECTION */
.first {
  background-color: blue;
  padding: 1.5% 25%;
}

.first > div {
  text-align: center;
  background-color: violet;
  padding: 18% 45%;
}
/* \FIRST - SECTION */


/* SECOND - SECTION */
.second div:first-child {
  background-color: cornflowerblue;
  flex-grow: 2;
}

.second div:last-child {
  background-color: pink;
  flex-grow: 1;
}
/* \SECOND - SECTION */


/* THIRD - SECTION */
.third {
  background-color: grey;
}

.third div:first-child {
  background-color: pink;
  flex-grow: 1;
}

.third div:last-child {
  background-color: cornflowerblue;
  flex-grow: 2;
}
/* \THIRD - SECTION */


/* FORTH - SECTION */
.forth {
  background-color: grey;
}

.forth > div:only-child {
  background-color: green;
  padding: 36% 48%;
}
/* \FORTH - SECTION */


/* FIFTH - SECTION */
.fifth {
  background-color: #23272a;
  border-bottom: 2px solid grey;
}

.fifth div:first-child {
  background-color:tomato;
  flex-grow: 2;
}

.fifth div:not(:first-child) {
  background-color: cadetblue;
  flex-grow: 1;
  border: 2px dashed white ;
}
/* \FIFTH - SECTION */


/* FOOTER - SECTION */
footer {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #23272a;
  height: 3.5em;
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  height: 2.8em;
  width: 62.8%;
}

footer div > div {
  font-size: small;
  background-color: pink;
  padding: 0.2em;
  border: 2px dashed black ;
}
/* \FOOTER - SECTION */
