* {
  margin: 0;
}

header {
  display: flex;
  background-color: #add8e6;
  height: 2.5em;
  padding: 0 1em 0 1em;
  justify-content: center;
  align-items: center;
}

header > div {
  background-color: #daa520;
  line-height: 1.5em;
  border: 2px dashed black ;
}

.logo {
  flex-grow: 1;
}

.links {
  text-align: center;
  flex-grow: 2;
}

.login {
  text-align: right;
  flex-grow: 1;
}